<h1>Signup</h1>

<div>
<%= form_for(@user) do |f| %>
  <div>
    <%= f.label :name %>
	<%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :email %>
	<%= f.text_field :email %>
  </div>

  <br />
  <%= f.submit "Signup" %>
<% end %>
</div>
