<h1>Profile</h1>
<div>
  <%= @user.following.count %> <%= link_to "following", following_user_path(@user) %> | 
  <%= @user.followers.count %> <%= link_to "followers", followers_user_path(@user) %>
</div>
<br />

<div>
  <%= @user.name %>, <%= @user.email %>
</div>

<div>
  <% user = User.find(1) %>
  <%= form_for(user.active_relationships.build) do |f| %>
    <div><%= hidden_field_tag :followed_id, @user.id %></div>
    <%= f.submit "Follow" %>
  <% end %>
</div>
