<!DOCTYPE html>
<html>
<head>
  <title>SampleFollow</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div>
  <% if id = session[:user_id] %>
	<% @current_user = User.find(id) %>
	Hello <%= @current_user.name %> | 
    <%= link_to "Profile", user_path(@current_user) %> | 
    <%= link_to "Logout", logout_path, method: :delete %>
  <% else %>
	<%= link_to "Login", login_path %>
  <% end %>
</div>

<%= yield %>

</body>
</html>
